$bgColor: #3c4251;
$blueColor: #039be5;
$whiteColor: #ffffff;

.tst-side-nav {
	width: 240px;
	height: 100%;
	background: $bgColor;
	position: fixed;
	z-index: 2000;
	-webkit-transform: translateZ(0);

	a {
		text-decoration: none;
	}

	.tst-side-nav-top {
		background: #495062;
		color: $whiteColor;
		height: 24px;
		padding: 20px;

		.tst-side-nav-top-symbol {
			position: absolute;
			background: $blueColor;
			border-radius: 3px;
			height: 32px;
			width: 32px;
			left: 15px;
			top: 15px;
			font-size: 20px;
			text-align: center;
		}

		.tst-side-nav-top-title {
			margin: 0;
			padding-left: 45px;
			font-size: 16px;
			width: 153px;
			overflow: hidden;
			display: block;
			.tst-side-nav-toggle {
				opacity: inherit;
				position: absolute;
				right: 20px;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
		}
	}

	.tst-side-nav-bottom {
		padding-top: 10px;
		height: calc(100vh - 74px);
		font-size: 13px;
		position: relative;
	}

	.tst-side-menu-nav-sub {
		position: absolute;
		min-width: 240px;
		left: 240px;
		top: 0px;
		font-size: 13px;
		background: $bgColor;
	}

	ul {
		padding-left: 0px;
		margin: 0px;
	}

	li {
		width: inherit;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		color: $whiteColor;
		&.sn-main {
			margin-top: 13px;
			padding: 13px 10px;
		}
		&.sn-list-1 {
			margin-top: initial;
		}

		&.sn-list-1:hover {
			background-color: $blueColor;
			cursor: pointer;
		}

		&.tst-side-nav-sub-sm-li {
			.tst-side-nav-word-1 {
				margin-top: 12px;
			}

			.tst-side-nav-word-1, .tst-side-nav-word-2 {
				padding: 13px 10px;
				padding-left: 45px;
			}

			.tst-side-nav-word-1:first-child {
				margin-top: 0px;
			}

			.tst-side-nav-word-2:hover {
				background-color: $blueColor;
				cursor: pointer;
			}
		}

		&.tst-side-nav-sub-sub-sm-li {
			.tst-side-nav-word-2 {
				padding: 13px 10px;
				padding-left: 75px;
			}
			.tst-side-nav-word-2:hover {
				background-color: $blueColor;
				cursor: pointer;
			}
		}

		a {
			color: inherit;
		}
		a:hover {
			text-decoration: none;
		}

		.tst-side-nav-word-1 {
			opacity: inherit;
			text-transform: uppercase;
			color: #70737c;
			height: 10px;
			display: block;
		}

		.tst-side-nav-word-2 {
			opacity: inherit;
			padding-left: 45px;
			display: block;
			position: relative;
		}

		.tst-side-nav-fixed-width {
			text-overflow: ellipsis;
			width: 175px;
			overflow: hidden;
		}

		.no-icon {
			padding-left: initial !important;
		}

		.sn-icon-left {
			position: relative;
			&.grey {
				color: #70737c;
			}

			mat-icon, .icon-text {
				position: absolute;
				left: 10px;
			}

			.icon-text {
				text-align: center;
				background: white;
				border-radius: 3px;
				min-width: 20px;
				height: 20px;
				padding: 0 2px;
				color: #3c4251;
				font-size: 12px;
				line-height: 1.8;
			}
		}

		.sn-chevron-right {
			position: absolute;
			right: 0px;
			margin-top: -2px;
		}
	}
}